/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6d28d9, #4c1d95, #312e81);
    background-size: 200% 200%;
    animation: gradientMove 8s ease infinite;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: white;
}

@keyframes gradientMove {
    0% { background-position: left; }
    50% { background-position: right; }
    100% { background-position: left; }
}

h1.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
}

/* WRAPPER */
.wrapper {
    width: 480px;
}

/* CARDS */
.card {
    background: #1f1f2e;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 
        8px 8px 15px rgba(0,0,0,0.4),
        -8px -8px 15px rgba(255,255,255,0.05);
}

/* INPUT CARD */
.input-card {
    display: flex;
    gap: 10px;
}

.input-card input, .input-card button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #29293d;
    color: #fff;
    outline: none;
    box-shadow: inset 4px 4px 8px rgba(0,0,0,0.4),
                inset -4px -4px 8px rgba(255,255,255,0.05);
}

/* Add Button */
#add-btn {
    cursor: pointer;
    transition: 0.2s;
    background: linear-gradient(135deg, #7c3aed, #4c1d95);
    box-shadow: none;
}

#add-btn:hover {
    opacity: 0.8;
}

/* FILTER CARD */
.filter-card {
    display: flex;
    justify-content: space-between;
}

.filter-btn {
    padding: 10px 20px;
    background: #29293d;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: inset 4px 4px 8px rgba(0,0,0,0.4),
                inset -4px -4px 8px rgba(255,255,255,0.05);
    transition: 0.2s;
}

.filter-btn:hover {
    background: #39395a;
}

.delete-all {
    background: #b91c1c;
}

/* TABLE */
.list-card table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center;
    opacity: 0.7;
    padding-bottom: 10px;
}

td {
    text-align: center;
    padding: 12px 5px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

button.delete-btn {
    padding: 7px 12px;
    border: none;
    border-radius: 6px;
    background: #ef4444;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button.delete-btn:hover {
    opacity: 0.8;
}

.not-found {
    opacity: 0.6;
    padding: 20px;
}
